<div class="row">
	<div class="well">
		<h1><%= @conversation.subject %></h1>

		<h4>Participants</h4>
		<% @conversation.participants.each do |participant| %>
		  <div><%= participant.name %></div>
		<% end %>

		<hr />

		<% @conversation.receipts_for(current_user).each do |receipt| %>
		  <div>
		    <div><%= receipt.message.sender.name %> commented</div>
		    <%= simple_format receipt.message.body %>

		    <% if receipt.message.attachment? %>
		      <strong>Attachment</strong>
		      <%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
		    <% end %>
		  </div>

		  <hr />
		<% end %>

		<%= form_for @message, url: conversation_messages_path(@conversation) do |f| %>
		  <div><%= f.text_area :body, placeholder: "Type Message" %></div>
		  <div><%= f.file_field :attachment %></div>
		  <%= f.submit 'Send Message', class: "btn btn-primary" %> 
		  <%= link_to "Back", conversations_path, class: "btn btn-default" %>
		<% end %>
	</div>
</div>